<ul>
<% @planned_meals.each do |planned_meal| %>
    <li><b><%= link_to "#{planned_meal.date.strftime("%A, %B %e")} - #{planned_meal.meal_type}: #{planned_meal.recipe.name}", recipe_path(planned_meal.recipe) %></b></li>
<% end %>
</ul>