<div class="center">
<h3>Let's start planning!</h3>
<p><%= link_to "Sign in with Google", "/auth/google_oauth2" %></p>
<p>-OR-</p>
<p><%= link_to "Login with your username", login_path %></p>
<p>-OR-</p>
<p><%= link_to "Create an account", signup_path %></p>
</div>
